{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <script type="text/javascript">
      $(document).on("click", ".open-product", function (e) {
        e.preventDefault();
        var $popup = $("#popup");
        var popup_url = $(this).data("popup-url");
        $(".modal-body", $popup).load(popup_url, function () {
          $popup.modal("show");
        });
      });
    </script>
     <div class="row">
      {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.imageURL }}">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button data-product={{ product.id }} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="open-product btn btn-outline-primary" href="{% url 'product' product_id=product.id %}" data-popup-url="{% url 'product' product_id=product.id %}">View</a>
		        <h4 style="display: inline-block; float: right"><strong>${{ product.price|floatformat:2 }}</strong></h4>
            </div>
        </div>
      {% endfor product in products %}
      {% include "store/product-modal.html" %}
    </div>
{% endblock content %}
